# Todos os arquivos exigem revisão de @dev1 e @dev2
* @VitorMartinezz @mmcarvaxd @The-Fool-Coding @caisoc200

# Apenas o time de dados revisa notebooks
/mm-pacs-dicom-web-viewer-frontend/ @The-Fool-Coding
/mm-pacs-portal-api/ @andre-mobilemed @tais-mobilemed
